body {
    background-color: black;
}

p {
    color: #73b8ff;
    font-size: 4em
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}